<html lang="en">
<head>
    {{>links}}
</head>
<body>
    {{>navbar}}
        <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- Left side -->
                    <div class="col-md-12 col-12 main_header_left align-items-center">
                        <figure class="errimg">
                            <img src="images/404.jpg" class="img-fluid" alt="" title="Tanmay Khandelwal">
                        </figure>
                        <p>Welcome to Tanmay Khandelwal World</p>
                        <h1>{{errorMsg}}<h1>
                        <a href="/"><button class="hire"> Go Back</button></a>
                    </div>
                </div>
            </div>
        </div>        
      </div>
    {{>footer}}
</body>
</html>