<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    {{>links}}
  </head>
  <body>
      <!-- Navbar Start -->
      {{>navbar}}
    <!-- Navbar close -->

    <!-- Header open -->
    <div class="container-fluid">
      <div class="row">
        <div class="col-8 col-10 mx-auto">
          <div class="row">
            <div class="col-md-6 col-11 order-2 order-md-1">
              <p class="header-txt">Hello World! :)
              <br>
              <h3 class="header-txt2">I am Tanmay Khandelwal</h3>
              <div class="header-area">
                <h2 class="font-weight-bold">I am a <span class="type"></span></h2>
              </div>
              </p>
              <div class="d-flex justify-content-around align-items-center">
                <div class="">
                  <button class="hire">Hire Me <i class="fas fa-check"></i></button>
                </div>
                <div class="">
                  <button class="about-me">About Me  <i class="fas fa-user"></i></button>
                </div>
              </div>

              <!-- Social Sites -->
              <div class="container my-3 social-sites">
                <div class="row justify-content-center">
                  <div class="col-lg-1 col-2 social-sites">
                    <a href="https://www.facebook.com/tanmaya.khandelwal.399/"><i class="fab fa-facebook-f fa-2x"></i></a>
                  </div>
                  <div class="col-lg-1 col-2 social-sites">
                    <a href="https://www.instagram.com/i_am_tanmaykh/"><i class="fab fa-instagram fa-2x"></i></a>
                  </div>
                  <div class="col-lg-1 col-2 social-sites">
                    <a href="https://twitter.com/TanmayK85216465"><i class="fab fa-twitter fa-2x"></i></a>
                  </div>
                  <div class="col-lg-1 col-2 social-sites">
                    <a href="https://www.linkedin.com/in/khandelwaltanmay/"><i class="fab fa-linkedin fa-2x"></i></a>
                  </div>
                  <div class="col-lg-1 col-2 social-sites">
                    <a href="https://github.com/iamtanmaykh2409"><i class="fab fa-github fa-2x"></i></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-11 order-2 order-1 my-5">
              <div class="float-right">
                <figure>
                  <img src="images/img1.jpg" alt="main-img" class="img-fluid user-img">
                </figure>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
      
    <!--Header Close  -->

    <!-- About Section start -->

    <div class="container-fluid about-sec bg-light" id="about">
      <div class="row">
        <div class="col-11 col-md-10 mx-auto">
          <div class="main-title text-center">
            <h1>About Me</h1>
          </div>
          <div class="row">
            <div class="col-md-5 col-11">
              <figure>
                <img src="images/img2.jpeg" alt="main-img" class="img-fluid" data-aos="fade-right">
              </figure>
            </div>
            <div class="col-md-7 col-11 about-txt d-flex justify-content-center align-items-start flex-column">
              <p>Hi! I am Tanmay Khandelwal, A Full Stack Web Developer focused on crafting great web experiences. Designing and Coding have been my passion since the days I started working with computers but I found myself into web design/development since 2019. I enjoy creating beautifully designed, intuitive and functional websites.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Education start -->

    <div class="container-fluid resume bg-light">
      <div class="row">
        <div class="col-11 col-md-10 mx-auto">
          <h1>Education</h1>
          <div class="row">
            <div class="col-lg-6 col-12">
              <h3 class="section-title">Summary</h3>
              <div class="timeline ">
                <h4>Tanmay Khandelwal</h4>
                <p>I'm Tanmay Khandelwal, A Full Stack Web Developer. I've been Designing & Developing Website/Apps for the Last Three Years & I've gotten pretty professional skills at it. I'm Expert in PSD/XD/Ai Design to Html CSS Bootstrap Responsive Websites. I can Reassure you The Best Ever Output & 100 % Quality Work Based Out on My Professional Skills.</p>
                <ul>
                  <li><b>Address-</b> 4,Shiv Sadan Jalesar Road,Firozabad</li>
                  <li><b>Phone-</b> 91+ 8057454200</li>
                  <li><b>Email-</b>iamtanmaykh07@gmail.com</li>
                </ul>
              </div>

              <h3 class="section-title">Education</h3>
              <div class="timeline">
                <h4>Bachelor of Computer Application</h4>
                <span>2019-current</span>
                
                <ul>
                  <li><b>Institute</b>- SRK College</li>
                  <li><b>Session</b> -  2019-2022</li>
                  <li><b>Aggregate</b> - 70%</li>
                </ul>
              </div>
              <div class="timeline">
                <h4>Intermediate(C.B.S.E) with PCM</h4>
                <span>2016-2017</span>
          
                <ul>
                  <li><b>Institute</b>- Kids Corner Happy Sr Sec School</li>
                  <li><b>Session</b> - 2016-2017</li>
                  <li><b>Aggregate</b> -65%</li>
                </ul>
              </div>              
            </div>

            <div class="col-lg-6 col-12">
              <h3 class="section-title">Professional Experience</h3>
              <div class="timeline">
                <h4>Intern at DECARTEM (Work From Home)</h4>
                <span>Aug to Oct 2020</span>
                <p>Gurgaon</p>
                <ul>
                  <li>Lead in the design, development, and implementation of the graphic, layout, and production communication materials</li>
                  <li>Delegate tasks to the 7 members of the design team and provide counsel on all aspects of the project.</li>
                </ul>
              </div>              
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Education ends -->

    <!-- About section ends -->

    <!-- Skills -->
    <div class="container-fluid exp-sec" id="skill">
      <div class="row">
        <div class="col-11 col-md-10 mx-auto">
          <div class="main-title text-center">
            <h1>Skills</h1>
            <p class="text-center">Obviously I'm a Full Stack Web Developer.<br>Experienced with all the stages of the design cycle with every projects</p>
          </div>
          <div class="row">
            <div class="common-div col-md-6 col-11 about-txt d-flex align-items-start flex-column">
              <div class="w-100">
                <h2 class="expert-h1">HTML5</h2>
                <div class="progress">
                  <div class="progress-bar pb-1" data-aos="fade-right" role="progressbar" style="width: 90%"></div>
                </div>
              </div>
              <div class="w-100 my-2">
                <h2 class="expert-h2">CSS3</h2>
                <div class="progress">
                  <div class="progress-bar pb-2" data-aos="fade-right" role="progressbar" style="width: 80%"></div>
                </div>
              </div>
              <div class="w-100 my-2">
                <h2 class="expert-h3">JAVASCRIPT</h2>
                <div class="progress">
                  <div class="progress-bar pb-3" role="progressbar" data-aos="fade-right" style="width: 75%"></div>
                </div>
              </div>
              <div class="w-100 my-2">
                <h2 class="expert-h4">REACT JS</h2>
                <div class="progress">
                  <div class="progress-bar pb-4" data-aos="fade-right" role="progressbar" style="width: 70%"></div>
                </div>
              </div>
            </div>
            <div class=" common-div col-md-6 col-11 about-txt d-flex align-items-start flex-column">
              <div class="w-100">
                <h2 class="expert-h5">BOOTSTRAP</h2>
                <div class="progress">
                  <div class="progress-bar pb-5" data-aos="fade-right" role="progressbar" style="width: 85%"></div>
                </div>
              </div>
              <div class="w-100 my-2">
                <h2 class="expert-h6">NODEJS</h2>
                <div class="progress">
                  <div class="progress-bar pb-6" data-aos="fade-right" role="progressbar" style="width: 70%"></div>
                </div>
              </div>
              <div class="w-100 my-2">
                <h2 class="expert-h7">EXPRESSJS</h2>
                <div class="progress">
                  <div class="progress-bar pb-7" data-aos="fade-right" role="progressbar" style="width: 60%"></div>
                </div>
              </div>
              <div class="w-100 my-2">
                <h2 class="expert-h8">MONGODB</h2>
                <div class="progress">
                  <div class="progress-bar pb-8" data-aos="fade-right" role="progressbar" style="width: 50%"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Skills End  -->

    <!-- Projects start -->
    <div class="container-fluid project bg-light my-4" id="project">
      <div class="row">
        <div class="col-11 col-md-10 mx-auto">
          <div class="main-title text-center">
            <h1>Projects</h1>
            <p class="text-center">Obviously I'm a Full Stack Web Developer.<br>Experienced with all the stages of the design cycle with every projects</p>
            <div class="portfolio-menu mt-2 mb-4">
              <ul>
                 <li class="btn btn-outline-info active" data-filter="*">All</li>
                 <li class="btn btn-outline-info" data-filter=".lan">Landing Page</li>
                 <li class="btn btn-outline-info" data-filter=".web">Websites</li>
                 <li class="btn btn-outline-info text" data-filter=".rea">React Application</li>
              </ul>
           </div><br>
           <div class="portfolio-item row my-5" >
              <div class="item lan col-lg-3 col-md-4 col-6 col-sm"> 
                 <img class="img-fluid" src="images/p5.png" alt="">
              </div>
              <div class="item web col-lg-3 col-md-4 col-6 col-sm"> 
                <img class="img-fluid" src="images/p2.png" alt="">
              </div>
              <div class="item lan col-lg-3 col-md-4 col-6 col-sm"> 
                <img class="img-fluid" src="images/p3.png" alt="">
              </div>
              <div class="item rea col-lg-3 col-md-4 col-6 col-sm"> 
                <img class="img-fluid" src="images/p6.png" alt="">
              </div>
              <div class="item web col-lg-3 col-md-4 col-6 col-sm"> 
                <img class="img-fluid" src="images/p1.png" alt="">
              </div>
              <div class="item rea col-lg-3 col-md-4 col-6 col-sm"> 
                <img class="img-fluid" src="images/p7.png" alt="">
              </div>
              <div class="item web col-lg-3 col-md-4 col-6 col-sm"> 
                <img class="img-fluid" src="images/p9.png" alt="">
              </div>
              <div class="item rea col-lg-3 col-md-4 col-6 col-sm"> 
                <img class="img-fluid" src="images/p10.png" alt="">
              </div>
          </div>
          <div class="text-center">
           <a href="https://github.com/iamtanmaykh2409"> <button  class="hire">More Projects</button></a>
          </div> 
          
        </div>  
      </div>
    </div>
    </div>

    <!-- Project End -->


    
    <!-- Hiring Start -->

    <div class="container-fluid hireme bg-dark">
      <div class="row">
        <div class="col-md-10 col-11 mx-auto">
        <h1>I am available for Freelance projects</h1>
          <br>
          <p>You need Innovative and Creative Design and Designer.</p>
          <h3>Let's Create Something extraordinary with you.</h3>
          <button class="hire"> <i class="fas fa-check"></i> Fiverr</button>
          <button class="hire"> <i class="fas fa-check"></i> UpWork</button>
        </div>   
      </div>
    </div>

    <!-- Hiring Ends -->

    <!-- Contact forms -->

    <div class="container-fluid contact-sec" id="contact">
      <div class="row">
        <div class="col-12 col-md-12 mx-auto">
          <div class="main-title text-center">
            <h1>Contact</h1>
            <p class="text-center">Feel Free To Contact Me Anytime.</p>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-md-6 offset-md-3">
                <div class="mb-3">
                  <input type="text" class="form-control" id="exampleFormControlInput1"required autocomplete="off" placeholder="Type Your Name">
                </div>
                <div class="mb-3">
                  <input type="email" class="form-control" id="exampleFormControlInput1"required autocomplete="off" placeholder="Type Your Email">
                </div>
                <div class="mb-3">
                  <input type="number" class="form-control" id="exampleFormControlInput1"required autocomplete="off" placeholder="Type Your Number">
                </div>
                <div class="mb-3">
                  <textarea class="form-control" id="exampleFormControlTextarea1" rows="4" placeholder="Type your Message"></textarea>
                </div>

                <div class="text-center">
                <button class="hire">Submit</button>
              </div> 
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>

    <!-- Contact ends -->
  
    <!-- Footer start -->

    {{>footer}}


    
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
 <script>
  AOS.init({
  	duration:1000,
  });

  // Portfolio

  $('.portfolio-menu ul li').click(function(){
         	$('.portfolio-menu ul li').removeClass('active');
         	$(this).addClass('active');
         	
         	var selector = $(this).attr('data-filter');
         	$('.portfolio-item').isotope({
         		filter:selector
         	});
         	return  false;
         });
         $(document).ready(function() {
         var popup_btn = $('.popup-btn');
         popup_btn.magnificPopup({
         type : 'image',
         gallery : {
         	enabled : true
         }
         });
         });

</script>

<script src="typed.js"></script>
    <script>
      var typed = new Typed(".type", {
        strings: ["Web Designer.",
        "Full Stack Developer.",
        "Problem Solver."
        ],
        typeSpeed: 80,
        backSpeed: 80,
        loop: true

      });
    </script>

  <script src="smooth-scroll.js"></script>  
  <script>
    var scroll = new SmoothScroll('a[href*="#"]');
  </script>
    
  </body>
</html>