@import url('https://fonts.googleapis.com/css2?family=Langar&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.nav_style{
    background-color: #fff;
    box-shadow: 0 10px 30px 0 rgba(138,155,165,0.15,);
    color: #fff;
    padding: 2rem 0;
    background-color: #000000;
    background-image: linear-gradient(147deg, #000000 0%, #2c3e50 74%);

}
.row{
    margin: 0;
}

.navbar-nav li a{
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 2px;
    color: #fff;
    position: relative;
}
.navbar-nav li a:before{
    content: '';
    position:absolute;
    top: 100%;
    bottom: 50%;
    width: 0%;
    height: 2px;
    background-color:  #7ee8fa;
    transition: all 0.3s linear;
}
.navbar-nav li .active{
    color: #7ee8fa;
}
.navbar-nav li a:hover:before{
    width: 80%;
}
/* .navbar-brand {
    font-size: 25px;
    color: #fff;
    letter-spacing: 2px;
    font-family: 'Langar', cursive;

} */
.navbar-brand img{
    height: 55px;
    width: 200px;
}


/* Header txt start */

.header-txt{
    font-size: 26px;
    color: #8c8c8c;
    margin-top: 80px;
}
.header-txt2{
    font-size: 26px;
    color: #2d3436;
    margin-bottom: 30px;
}
.span-txt{
    color: turquoise;
}
.hire{
    width: 160px;
    height: 40px;
    font-size: 15px;
    background-color: #7ee8fa;
    text-transform: uppercase;
    outline: none;
    border: none;
    transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
}
.about-me{
    width: 160px;
    height: 40px;
    font-size: 15px;
    background-color: #fff;
    text-transform: uppercase;
    outline: none;
    border: 2px solid #7ee8fa;
    transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
}

.hire:hover{
    background-color: #fff;
    color: #000000;
    border: 2px solid #7ee8fa;
}
.about-me:hover{
	background-color: #7ee8fa;
	color: #fff;
}
.header-mail p{
    margin-top: 40px;
    font-size: 20px;
    color: #000;
    font-weight: 400;
}
.header-mail p:nth-child(2){
    margin-top: -20px;
}

/* social Site */

.social-sites{
    cursor: pointer;
    
}
.social-sites a{
    color: #ffff;
    transition:all 0.3s linear;
}
.social-sites .fa-facebook-f:hover{
	color: #3b5998;
}
.social-sites .fa-instagram:hover{
	color: #e4405f;
}
.social-sites .fa-twitter:hover{
	color: #00acee;
}
.social-sites .fa-linkedin:hover{
	color: #0e76a8;
}
.social-sites .fa-github:hover{
	color: #000;
}
/* Social Site end */


/* header txt end */

/* about sec start */

.about-sec{
    padding-top: 50px;
}
.about-sec img{
    height: 55vh;
    width: 75%;
}
.about-sec h1{
    font-weight: 500;
    font-size: 50px;
    color: #000;
    text-transform: capitalize;
    position: relative;
}
.about-sec p{
    font-size: 20px;
    color: #000;
}

.section-title h3{
    margin-left: 10px;
}
.timeline{
	position: relative;
	margin-left: 20px;
}
.timeline ul{
    list-style: none;
}
.timeline ul li{
    font-size: 15px;
}
.timeline h4{
    background-color: #000000;
    background-image: linear-gradient(147deg, #000000 0%, #2c3e50 74%);
	border: 1px solid #000;
	color: #fff;
	width: 80%;
    font-weight: 600;
    font-size: 18px;
    padding: 2px 5px;
}
.timeline p{
    font-size: 15px;
}
.timeline span{
    font-size: 18px;
    font-weight: bold;
}
.timeline:before{
	content: '';
	background: #555;
	display: inline-block;
	position: absolute;
	left: -15px;
	width: 2px;
	height: 100%;
	z-index: 1;
}
.timeline:after{
	content: '';
	background: #ffff;
	display: inline-block;
	position: absolute;
	border-radius: 50%;
	border: 3px solid #000;
	left: -24px;
	width: 20px;
	height: 20px;
	z-index: 1;
	top: 0;
}

/* Skills */

.exp-sec{
    padding-top: 50px;
}
.exp-sec h1{
    font-weight: 500;
    font-size: 50px;
    color: #000;
    text-transform: capitalize;
    position: relative;
}
.main-title p{
    font-size: 20px;
    color: #000;
}
.common-div{
    margin-top: 40px;
    margin-bottom: 40px;
}
.exp-sec .progress{
    width: 90%;
    height: 12px;
    border-radius: 7px;
}
.exp-sec .pb-1{
    width: 90%;
    border-radius: 7px;
    background-color: coral;
}
.exp-sec .pb-2{
    width: 80%;
    border-radius: 7px;
    background-color:cadetblue;
}
.exp-sec .pb-3{
    width: 75%;
    border-radius: 7px;
    background-color: rgb(206, 206, 44)
}
.exp-sec .pb-4{
    width: 70%;
    border-radius: 7px;
    background-color: #61dbfb
}
.exp-sec .pb-5{
    width: 85%;
    border-radius: 7px;
    background-color:indigo
}
.exp-sec .pb-6{
    width: 70%;
    border-radius: 7px;
    background-color: #3c873a;
}
.exp-sec .pb-7{
    width: 60%;
    border-radius: 7px;
    background-color: #f3f3f3;
}
.exp-sec .pb-8{
    width: 50%;
    border-radius: 7px;
    background-color: #4db33d;
}
.exp-sec h2{
    position: relative;
}
.expert-h1:after{
    content: '90%';
    position: absolute;
    top: 10px;
    right: 70px;
    font-size: 16px;
    color: #000;
    font-weight: 500;
}
.expert-h2:after{
    content: '80%';
    position: absolute;
    top: 10px;
    right: 70px;
    font-size: 16px;
    color: #000;
    font-weight: 500;
}
.expert-h3:after{
    content: '75%';
    position: absolute;
    top: 10px;
    right: 70px;
    font-size: 16px;
    color: #000;
    font-weight: 500;
}
.expert-h4:after{
    content: '70%';
    position: absolute;
    top: 10px;
    right: 70px;
    font-size: 16px;
    color: #000;
    font-weight: 500;
}
.expert-h5:after{
    content: '85%';
    position: absolute;
    top: 10px;
    right: 70px;
    font-size: 16px;
    color: #000;
    font-weight: 500;
}
.expert-h6:after{
    content: '70%';
    position: absolute;
    top: 10px;
    right: 70px;
    font-size: 16px;
    color: #000;
    font-weight: 500;
}
.expert-h7:after{
    content: '60%';
    position: absolute;
    top: 10px;
    right: 70px;
    font-size: 16px;
    color: #000;
    font-weight: 500;
}
.expert-h8:after{
    content: '50%';
    position: absolute;
    top: 10px;
    right: 70px;
    font-size: 16px;
    color: #000;
    font-weight: 500;
}

/* Skills End */

/* Projects */

.project h1{
    font-weight: 500;
    font-size: 50px;
    color: #000;
    text-transform: capitalize;
    position: relative;
    margin-top: 40px;
}
.project .btn{
    font-size: 15px;
    margin:5px;
    padding: 5px 10px;
}
.project .item img{
	margin-bottom: 20px; 
}



/* Hire Start */
.hireme{
	padding-top:45px;
	padding-bottom: 45px;
    text-align: center;
    width: 100%;
    background:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(../images/img3.jpg);
	background-size: 100% 100%;
	background-attachment: fixed;
}
.hire{
    margin: 20px;
}

.hireme h1{
	font-size: 25px;
	color: #7ee8fa;
}
.hireme p{
	font-size: 18px;
	color: #ffffff;
	letter-spacing: 3px;
}
.hireme h3{
	font-size: 15px;
	color: #ffff;
	margin-top: -10px;
	padding-bottom: 30px;
}
/* Hire sec end */


/* Contact Sec */
.contact-sec h1{
    font-weight: 500;
    font-size: 50px;
    color: #000;
    text-transform: capitalize;
    position: relative;
}
.contact-sec p{
    margin-bottom: 30px;
}
.contact-sec{
	padding-top: 30px;
	padding-bottom: 30px;
	/* position: relative; */
}
.contact-sec .form-control{
    font-size: 16px;
}

/* Contact ends */

/* Footer start */
footer{
    background-color: #000000;
    background-image: linear-gradient(147deg, #000000 0%, #2c3e50 74%);
	line-height: 50px;
	color: #ffff;
    width: 100%;
}
footer p{
	margin: 0;
}

/* 404Error page */
.main_header_left{
    height: 60rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.main_header_left p{
    font-size: 2rem;
}
.main_header_left h1{
    font-size: 3.2rem;
    margin: 1rem 0 4rem 0;
    text-transform: capitalize;
}
/* .main_header_left button{
    border: none;
    padding: 0.8rem 1.8rem;
    font-size: 1.4rem;
    border-radius: 2rem;
    box-shadow: 0 8px 6px -6px #000;
    outline: none;
    background-color: var(--main-bg);
    cursor: pointer;
    transition: 0.4s;
}
.main_header_left button:hover{
    background-color: var(--main-color);
} */
.main_header_right{
    height: 60rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.errimg img{
    width: 60rem;
    height: 30rem;
}
small #help{
    font-size: 1.2rem;
}
/* Responsive work */
@media (max-width:998px){
    .navbar-nav{
        margin-top: 40px!important;
        text-align: center!important;
    }
    @media(max-width: 992px){
        .main-title h1{
            font-size: 40px;
        }
        .main-title p{
            font-size: 15px;
        }
        .about-txt p{
            font-size: 17px;
        }
        .about-txt {
            margin-top: 30px;
            text-align: center;
        }
        .about-txt h1{
            font-size: 26px;
            font-weight: bold;
        }
        .common-div{
            text-align: center;
            justify-content: center;
            margin: auto;
        }
        .exp-sec h2{
            text-align: left;
        }
        .contact-img img{
            display: none;
        }
        figure .img-fluid{
            margin-left: 15px;
            width: max-content;
        }
        .contact-res{
            margin:0!important;
        }
        .contact-inner{
            margin: auto;
        }
        .hireme h1{
            font-size: 32px;
        }
        .hireme h3{
            font-size: 21px;
            color: #fff;
            word-spacing: 2px;
        }
        .hireme p{
            font-size: 18px;
            letter-spacing: 0px;
        }
        .errimg img{
            width: 30rem;
            height: 15rem;
        }
    }
}